<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrGJKHuotU4qnLoLdQ5i9Olm1-Z7BrA4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1093834949187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssOh.carPeriodicInspectionInfo</string>
	<key>PROJECT_ID</key>
	<string>carperiodicinspectioninfo</string>
	<key>STORAGE_BUCKET</key>
	<string>carperiodicinspectioninfo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093834949187:ios:7b7b146761a9b049518af6</string>
</dict>
</plist>